/** State Styles **/
.selected {
    -webkit-animation: 1s glow 1;
    -moz-animation: 1s glow 1;
    animation: 1s glow 1;
}
@-webkit-keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}
@-moz-keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}
@keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}


/** Styles **/
th, td { padding: 6px; }
.title, th, td { text-align: center; }

.header {
    margin-top: 10px;
}
.reload {
    width: 100%;
    display: inline-block;

    color: #222;
    text-decoration: none;
}
.reload:hover {
    color: #222;
}


.ug-row {
    height: 60px;
}
.user-glyphs {
    min-height: 38px;

    box-shadow: 0 2px 10px #ccc;
    border: none;

    width: 87.5%; /* temp fix */
    max-width: 960px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}
.user-glyphs:focus {
    border: 1px solid #33C3F0;
}

.gb-select {
    -webkit-appearance: none;
    -mox-appearance: none;
    appearance: none;

    /* works in ff only*/
    text-align: center;
}

.cb-row {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}
.cb-show {
  display: block;
}
.cb-fade {
  opacity: 1;
}
.range-in {
  width: 45%;
  text-align: center;
}
#from {
  float: left;
}
#to {
  float: right;
}

.glyph {
    font-size: 1.25em;

    -webkit-transition: 0.1s font-size ease;
    -moz-transition: 0.1s font-size ease;
    transition: 0.1s font-size ease;
}

footer {
    margin-top: 50px;
}

/* feature not ready
.magnified {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid red;
    background-color: #fff;

    width: 50%;
    height: auto;
    font-size: 5em;
}

.backspace {
    width: 50px;
    height: 50px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: none;

    right: 0;
    bottom: 0;
    position: fixed;

    background-color: #eee;

    text-align: center;
    line-height: 20px;
}
*/

/** Media Queries **/
/* Larger than mobile */
@media (min-width: 400px) {
  th, td {padding: 12px 15px;}

  .user-glyphs {
    width: 85%;
  }

  /*
  .magnified {font-size: 20em;}
  */
}

/* Larger than phablet */
@media (min-width: 550px) {
  .user-glyphs {
    width: 80%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
