/** State Styles **/
.selected {
    -webkit-animation: 1s glow 1;
    -moz-animation: 1s glow 1;
    animation: 1s glow 1;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}
@-moz-keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}
@keyframes glow {
    from {color: #33C3F0;}
    to   {color: #000;}
}


/** Styles **/
th, td { padding: 8px 4px; }
.title, th, td { text-align: center; }

.header {
    margin-top: 10px;
}
.reload {
    width: 100%;
    display: inline-block;

    color: #222;
    text-decoration: none;
}
.reload:hover {
    color: #222;
}

.row-user-glyphs { height: 70px; }
.user-glyphs {
    min-height: 38px;

    box-shadow: 0 2px 10px #ccc;
    border: none;

    width: 87.5%; /* temp fix */
    max-width: 960px;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;

    transition: top .5s ease;
}
.user-glyphs:focus {
    border: 1px solid #33C3F0;
}
.user-glyphs-min {
  top: 30px;
}
.select-glyph-block {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* works in ff only*/
    text-align: center;
}

.row-custom-block {
  display: none;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  transition: height 1s ease;
}
.show-custom-block {
  display: -webkit-flex;
  display: flex;
}
.input-range {
  margin-right: 2.5%;
  text-align: center;
}
.input-from {
  -webkit-flex: 4 1 auto;
  flex: 4 1 auto;
  width: 40%;
}
.input-to {
  -webkit-flex: 4 1 auto;
  flex: 4 1 auto;
  width: 40%;
}
.input-go {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 10%;
  padding: 0 9px;

  font-size: 12px;
  float: right;
}

.glyph {
    font-size: 1.25em;

    -webkit-transition: 0.1s font-size ease;
    -moz-transition: 0.1s font-size ease;
    -o-transition: 0.1s font-size ease;
    transition: 0.1s font-size ease;
}

footer {
    margin-top: 50px;
}
.backspace {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 0;
  background: #ddd;
  background: rgba(221,221,221,.75);
  opacity: 0;

  text-align: center;
  line-height: 50px;

  transition: all 1s ease;
}
.show-backspace {
  height: 50px;
  opacity: 1;
}

/** Media Queries **/
/* Larger than mobile */
@media (min-width: 400px) {
  th, td {padding: 12px 15px;}

  .user-glyphs {
    width: 85%;
  }

  /*
  .magnified {font-size: 20em;}
  */
}

/* Larger than phablet */
@media (min-width: 550px) {
  .user-glyphs {
    width: 80%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
